---
layout: default
title: 闻如是
---


<table border="0" width="100%">
	<tr>
		<td align="center"><h2>若以色见我，以音声求我，是人行邪道，不得见如来。</h2></td>
	</tr>
	<tr>
		<td align="center">
			<table>
					{% for post in site.posts %}
					<tr><td>
						<a href="{{ post.url }}">{{ post.title }}</a>{% if post.status %}<sup>整理中</sup>{% endif %}
					</td></tr>
					{% endfor %}
			</table>
		</td>
	</tr>
	<tr>
		<td align="center">
            <h2>三乘菩提讲座</h2>
			<h3><a href="http://www.hymzw.net/zjdz/sspt/" target="_blank">三乘菩提纲要与学佛正知见(55集)</a></h3>
		</td>
	</tr>
    <tr>
        <td align="center">
            <h2>友情链接</h2>
            <div>
                <a href="http://www.hymzw.net"
                target="_blank">华严妙智网</a><br />
                <a href="http://www.enlighten.org.tw/dictionary"
                target="_blank">正觉法相词典</a><br />
                <a href="http://www.mxzjnet.org/bbs/index.php"
                target="_blank">迈向正觉佛法论坛</a><br />
                <a href="http://www.a202.idv.tw/discuz/forum.php"
                target="_blank">十方论坛</a><br />
                <a href="http://books.enlighten.org.tw/zh-tw/"
                target="_blank">正智书香园地</a><br />
                <a href="http://v.china.com.cn/zhuanti/node_7216597.htm"
                target="_blank">正觉有约 文化大讲堂<sup>中国网</sup></a>
            </div>
        </td>
    </tr>
</table>
